body,
html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial,
    sans-serif;
}

// 清除浮动
.clear-fix {
  display: inline-block;
  &::after {
    display: block;
    content: ' ';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}
